html{
    scroll-behavior: smooth;
}
.header{
    display: flex;
    /* background-color: aqua; */
    justify-content:space-between;
    flex: 1;
    padding: 12px;
    position: relative;
    align-items: center;
}
.menu{
    /* background-color: azure; */
    display: flex;
    flex: 1;
    justify-content: flex-end;
}
.menu-icon{
    font-size: 25px;
}
.mobile-menu{
    display: none;
}
.web-menu{
    /* display: flex; */
    display: flex;
    /* position: fixed;
    z-index: 1;
    top: 15px; */
}
.logo{



    display: flex;
    width: 250px;
flex-direction: row;
justify-content:end;
align-items:center;
left: 20px;
    /* display: flex;
    font-size: 36px;
    color:rgb(0 0 0 / 40%); */
    /* position: fixed; */
    /* top: 15px; */
    /* z-index: 1; */
}
@media only screen and (max-width:970px){
    .logo{
      width: 220px;
    }

}
@media only screen and (max-width:870px) {
    .mobile-menu{
        display: flex;
    }
    .web-menu{
        display: none;
    }
    .logo{
    width: 200px;
    }
    
}
@media only screen and (max-width:500px) {
    .logo{
        width: 130px;
    }
    .mobile-menu{
        font-size: 35px;
    }
}